@import "tailwindcss";
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #dc2626;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #dc2626;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
}
body {
  background-color: #fffbf3;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Hide the default eye icon in Edge and IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Hide Chrome's built-in password toggle */
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
